<% message = "We're glad to have you managing our " %>
<% store = current_user.employee.assignments.current.map{|a| a.store} %>
<% store = store[0] %>
<h4><%= "#{message} #{store.name} location!" %></h4>

<%= render :partial => 'schedule_next_week' %>


<%= render partial: "partials/index_structure", locals: {model_name: "employee", 
                                                         primary: "current_employees", 
                                                         secondary: nil,
                                                         sidebar: "inactive_employees"} %>
<%= render :partial => 'mgr_store_flavors' %>

<%= render :partial => 'today_shifts' %>
