<div id='week_shift_list'>
<h3>Next Week's Shifts</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th class="centered">Date</th>
      <th class="centered">Start Time</th>
      <th class="centered">End Time</th>
      <th width="75">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @next_weeks_shifts.each do |shift| %>
      <tr>
        <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
        <td class="centered"><%= shift.date.strftime("%m/%d/%y")%></td>
        <td class="centered"><%= shift.start_time.localtime.strftime("%I:%M %p")%></td>
        <td class="centered"><%= shift.end_time.localtime.strftime("%I:%M %p")%></td>
        <td>
            <%= link_to(edit_shift_path(shift), class: 'button tiny radius warning') do %>
              &nbsp;Edit&nbsp;
            <% end %>
          </td>
            <td><%= link_to 'Delete Shift', shift, data: {confirm: 'Are you sure?' }, method: :delete, class: 'button tiny radius round alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

