<h3>Shift Details</h3>

<p>
  <b>Employee:</b> <%= @shift.assignment.employee.name%>
</p>

<p>
  <h4>
    Date: <%= @shift.date.strftime("%m/%d/%y") %>
  </h4>
</p>

<p>
  <b>Start Time:</b> <%= @shift.start_time %>
</p>

<p>
  <b>End Time:</b> <%= @shift.end_time%>
</p>

<p>
  <b>Notes:</b> <%= @shift.notes %>
</p>


